<footer class="footer">
	<div class="container footer__container">
		<div class="footer-top">
			<div class="footer-top__left">
				<div class="footer-top__logo">
					<svg class='footer-top__logo-img'>
						<use xlink:href=images/dest/sprite.svg#logoWhite></use>
					</svg>
				</div>
				<div class="footer-top__gadget">
					<a href="#" class="footer-top__gadget-link">
						<img src="./images/dest/appstore.webp" alt="AppleStore">
					</a>
					<a href="#" class="footer-top__gadget-link">
						<img src="./images/dest/googleplay.webp" alt="GooglePlay">
					</a>
				</div>
				<div class="footer-top__contancts footer-contacts">
					<h4 class="footer-contacts__title">
						Наши контакты
					</h4>
					<a href="#" class="footer-contacts__link">+7 (495) 109-03-09</a>
					<a href="#" class="footer-contacts__link">go@crossball.ru</a>
				</div>
			</div>
			<div class="footer-top__right">
				<nav class="footer-menu">
					<ul class="footer-menu__list">
						<li class="footer-menu__title">Разделы</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Главная</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Расписание</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Игровые отчёты</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Статистика</a>
						</li>
					</ul>
					<ul class="footer-menu__list">
						<li class="footer-menu__title">Виды спорта</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Футбол</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Баскетбол</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Волейбол</a>
						</li>
					</ul>
					<ul class="footer-menu__list">
						<li class="footer-menu__title">Полезное</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Как записаться?</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Ответы на вопросы</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Достижения</a>
						</li>
					</ul>
					<ul class="footer-menu__list">
						<li class="footer-menu__title">Чё почём</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Абонементы</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Корп. клиентам</a>
						</li>
						<li class="footer-menu__item">
							<a href="#" class="footer-menu__link">Партнёры</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="footer-bottom">
			<p class="copy">&copy; Все права защищены</p>
			<div class="footer-social">
				<a href="#" class="footer-social__link">
					<svg class='footer-social__img'>
						<use xlink:href=images/dest/sprite.svg#insta></use>
					</svg>
				</a>
				<a href="#" class="footer-social__link">
					<svg class='footer-social__img'>
						<use xlink:href=images/dest/sprite.svg#vk></use>
					</svg>
				</a>
				<a href="#" class="footer-social__link">
					<svg class='footer-social__img'>
						<use xlink:href=images/dest/sprite.svg#fb></use>
					</svg>
				</a>
				<a href="#" class="footer-social__link">
					<svg class='footer-social__img'>
						<use xlink:href=images/dest/sprite.svg#youtube></use>
					</svg>
				</a>
				<a href="#" class="footer-social__link">
					<svg class='footer-social__img'>
						<use xlink:href=images/dest/sprite.svg#telega></use>
					</svg>
				</a>
				<a href="#" class="footer-social__link">
					<svg class='footer-social__img'>
						<use xlink:href=images/dest/sprite.svg#whatssap></use>
					</svg>
				</a>
			</div>
			<p class="footer-bottom__text">
				Cобрано с помощью <strong>GULP</strong>
			</p>
		</div>
	</div>
</footer>