<header class="header">
	<div class="container header__container">
		<div class="logo">
			<svg width='187' height='32'>
				<use xlink:href="images/dest/sprite.svg#logo"></use>
			</svg>
		</div>
		<nav class='nav'>
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#" class="nav__item">Расписание</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__item">Игровые отчёты</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__item">Статистика</a>
				</li>
				<li class="nav__item nav__item-more">
					Ещё
					<ul class='nav__second'>
						<li class='nav__second-item'></li>
					</ul>
				</li>
			</ul>
		</nav>
		<div class="category">
			<div class='category__list'>
				<span class='category__current'>
					<svg data-current='football'>
						<use xlink:href='images/dest/sprite.svg#football'></use>
					</svg>
				</span>
				<div class="category__icon"></div>
			</div>
			<div class="select__body">
				<div class="select__item">
					<svg data-current='football3'>
						<use xlink:href='images/dest/sprite.svg#football'></use>
					</svg>
				</div>
				<div class="select__item">
					<svg data-current='football2'>
						<use xlink:href='images/dest/sprite.svg#football'></use>
					</svg>
				</div>
				<div class="select__item">
					<svg data-current='football'>
						<use xlink:href='images/dest/sprite.svg#football'></use>
					</svg>
				</div>
			</div>
		</div>

		<div class="header__user">
			<img src="./images/dest/user.webp" alt="user">
		</div>
		<button class='btn-reset header__btn'>
			<svg width="22" height="28">
				<use xlink:href='images/dest/sprite.svg#portf'></use>
			</svg>
			<span class='header__btn-count'>3</span>
		</button>
	</div>
</header>