.season-selection {
	padding: 0 5px;
	margin-right: 37px;
}

.selection-btns {
	border: 1px solid var(--primery);
	padding: 5px;
	border-radius: 5px;
	display: flex;
	margin-bottom: 30px;

	&__btn {
		display: block;
		flex: 1;
		color: var(--gray-light);
		border-radius: 5px;
		transition: all .3s ease-in-out;
		font: var(--font-family-semibold);
		padding: 6px 0;


		&:not(:last-child) {
			margin-right: 10px;
		}

		&--active {
			background-color: var(--primery);

			color: var(--white);
		}

		&:hover {
			background-color: var(--primery);
			font: var(--font-family-semibold);
			color: var(--white);
		}
	}
}

.season-result {
	display: flex;

	&__item {
		color: var(--white);
		background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 105%),
			#2C2C2C;
		border-radius: 5px;
		padding: 10px;
		flex: 1;
		position: relative;


		&::after {

			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-image: radial-gradient(circle at 100% 100%, transparent 5px, #5A60E7 5px, #5A60E7 6px, transparent 6px),
				linear-gradient(to right, #5A60E7, transparent),
				radial-gradient(circle at 0% 100%, transparent 5px, transparent 5px, transparent 6px, transparent 6px),
				linear-gradient(to bottom, transparent 50%, #5A60E7),
				radial-gradient(circle at 0% 0%, transparent 5px, #5A60E7 5px, #5A60E7 6px, transparent 6px),
				linear-gradient(to left, #5A60E7, transparent 45%),
				radial-gradient(circle at 100% 0%, transparent 5px, transparent 5px, transparent 6px, transparent 6px),
				linear-gradient(to top, transparent 45%, #5A60E7);
			background-size: 6px 6px,
				calc(100% - 12px) 1px,
				6px 6px,
				1px calc(100% - 12px);
			background-position: top left,
				top center,
				top right,
				center right,
				bottom right,
				bottom center,
				bottom left,
				center left;
			background-repeat: no-repeat;
		}

		&:hover {


			&::after {

				background-image: radial-gradient(circle at 100% 100%, transparent 5px, transparent 5px, transparent 6px, transparent 6px),
					linear-gradient(to right, transparent, #5A60E7),
					radial-gradient(circle at 0% 100%, transparent 5px, #5A60E7 5px, #5A60E7 6px, transparent 6px),
					linear-gradient(to bottom, #5A60E7, transparent),
					radial-gradient(circle at 0% 0%, transparent 5px, transparent 5px, transparent 6px, transparent 6px),
					linear-gradient(to left, transparent, #5A60E7),
					radial-gradient(circle at 100% 0%, transparent 5px, #5A60E7 5px, #5A60E7 6px, transparent 6px),
					linear-gradient(to top, #5A60E7, transparent);
			}
		}

		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__title {
		font: var(--font-semibold-default);
		margin-bottom: 5px;
	}

	&__count {
		color: var(--red);
		font: var(--font-big);
		text-align: right;
	}
}