.social-links {
	width: fit-content;

	&__text {
		font: var(--font-small);
		color: var(--gray-light);
		margin-bottom: 5px;
	}

	&__box {
		display: flex;
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;

		&:not(:last-child) {
			margin-right: 15px;
		}

		svg {
			width: 24px;
			height: 24px;
		}
	}

	&__img {
		fill: var(--white);
		transition: all 0.3s ease-in-out;

		&:hover {
			fill: var(--primery);
		}
	}
}